.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        transition: all 0.2s;
        outline-offset: 2rem;

        z-index: 10;

        &--p1 {
            top: -2rem;
            left: 0;
        }
        &--p2 {
            top: 3rem;
            right: 0;
        }
        &--p3 {
            top: 13.5rem;
            left: 20%;
        }

        &:hover {
            outline: $color-primary 1.5rem solid;
            transform: scale(1.1) translateY(-0.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            z-index: 15;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.9);
    }
}
