.text-center {
    text-align: center;
}

.m-top-10 {
    margin-top: 10rem;
}

.m-top-medium {
    margin-top: 4rem !important;
}

.m-bottom-8 {
    margin-bottom: 8rem;
}

.m-bottom-small {
    margin-bottom: 1.5rem;
}

.m-bottom-medium {
    margin-bottom: 4rem;
}
